{% extends 'customer_management/base.html' %}

{% block content %}
    <h1>Customer List</h1>
    <a href="{% url 'add_customer' %}">
        <button type="button" class="add-button">Add Customer</button>
    </a>
    <ul class="customer-list">
        {% for customer in customers %}
            <li class="customer-item">
                <div class="customer-info">
                    <span class="customer-name">
                        {{ customer.name }}
                    </span>
                    <span class="customer-amount">Owes {{ customer.amount }} Rands</span>
                    <div class="customer-actions">
                        <a href="{% url 'edit_customer' customer.pk %}">
                            <button type="button" class="edit-button hidden">Edit</button>
                        </a>
                        <a href="{% url 'delete_customer' customer.pk %}">
                            <button type="button" class="delete-button hidden">Delete</button>
                        </a>
                    </div>
                </div>
            </li>
        {% empty %}
            <li class="no-customer">No customers found.</li>
        {% endfor %}
    </ul>
{% endblock %}

